---
import { modelapi } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">GEMINI API</span>
    <span class="gpt-subtitle">DEMO</span>
  </div>
  <p mt-1 op-60>Based on Gemini API ( {modelapi} ).</p>
</header>
